.Search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    padding: 20px 0;
    background-color: #1A374D;
    z-index: 1;
}

.Data {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color:#1A374D;
    opacity: 0.8;
    color: white;
    margin: auto;
    width: 450px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
.user a{
    text-decoration: none;
}
.user p {
    margin: 10px;
    font-size: 18px;
}

input {
    margin-left: 1.5em;
    padding:10px 10px 10px 20px;
    width: 100%;
    max-width: 500px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #F6F1F1;
    border: none;
}

#Search-button {
    background-color: #B1D0E0;
    color: black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 3em;
    height: 36.2px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 6.5px;
}

#Search-button:hover {
    color: white;
  background-color: #406882;
}